.Header {
    color: white;
    background-image: url('./img/male-hand-holding-house-icon-blue-background-property-insurance-security-concept-real-estate-concept-banner-copy-space-214703246.jpg');
    background-size: 100%;
    background-position-y: center;
    width: 100%;
    height: 320px;
    margin-bottom: 3%;
}
.titles{
    margin-left: 20%;
}